/* Reset de estilos */
body, h1, h2, h3, h4, h5, h6, p, ul, li, button, input, form, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    color: #31241E;
    background-color: #F6F4F3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Estilos específicos para cada página */
/* Estilos para la página de index.php */
header {
    background-color: #F6F4F3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #31241E;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #31241E;
}

/* Estilos para los formularios */
form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #D1C8C1;
}

input[type="submit"],
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #D1C8C1;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

button {
    background-color: transparent;
    color: #31241E;
}

/* Estilos específicos para cada página */
/* Estilos para la página de agregar_cliente.php */
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para la página de agregar_producto.php */
h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para la página de clientes.php */
ul {
    margin-top: 20px;
    padding-left: 20px;
}

ul li {
    margin-bottom: 20px;
}

/* Estilos para la página de editar_cliente.php */
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para la página de editar_producto.php */
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para la página de eliminar_cliente.php */
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para la página de index.php */
ul {
    margin-top: 20px;
    padding-left: 20px;
}

ul li {
    margin-bottom: 20px;
}

/* Estilos para la página de productos.php */
/* (aún está vacía) */
