

#header {
    background-color: antiquewhite;
    color: black;
    padding: 20px;
    text-align: center;
}

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main-nav li {
    display: inline;
    margin-right: 20px;
}

#main-nav a {
    color: black;
    text-decoration: none;
}

#container {
    max-width: 531px;
    margin: auto;
    padding: 20px;
}

#product-list {
    list-style-type: none;
    padding: 0;
}

.product-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.add-to-cart-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #45a049;
}

#no-products-msg {
    color: #999;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    overflow: hidden;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-item p {
    margin: 9px 0;
}


#iniciar-sesion {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    cursor: pointer;
    border-radius: 37px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

#iniciar-sesion:hover {
    background-color: #45a049;
}

#mensaje-iniciar-sesion {
    color: red;
    font-style: italic;
    font-size: 14px;
    margin: revert
}
#cerrar-sesion {
    background-color: red;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    cursor: pointer;
    border-radius: 37px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: white;
    
}

#cerrar-sesion:hover {
    background-color: red
    ;
}

#nombre-producto {
    text-align: center;
    font-weight: bold;
    FONT-SIZE: larger;
}

#header a {
    color: black; 
    text-decoration: none;
}

#header a:hover {
    color: blue; 
}



.botones-form {
    display: inline-block; 
    margin-right: 10px; 
}


#eliminar-producto {
    background-color: #f44336; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

#editar-producto {
    background-color: rgb(0, 44, 125); 
    color: white; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}



#titulo {
    text-align: center;
    color: #333;
    border-bottom: 2px solid #333; 
    padding-bottom: 30px; 
}

#subtitulo {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

#tabla{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tabla th, #tabla td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

#tablath {
    background-color: #f2f2f2;
    color: #333;
}

#imagen-cliente {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}

#btn-container {
    text-align: center;
    margin-top: 12px;
}

#btn-container a {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #D1C8C1;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
   
}

#btn-container a:hover {
    background-color: #433321 ;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-agregar-cliente {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

#btn-menu-principal {
    padding: 10px 20px;
    background-color: #D1C8C1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
}

#btn-menu-principal:hover {
    background-color: #433321; 
}

#formulario label {
    display: block;
    margin-bottom: 10px;
}

#formulario input[type="text"],
#formulario input[type="date"],
#formulario input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #D1C8C1;
    border-radius: 5px;
}

#formulario input[type="submit"] {
    background-color: #31241E;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#formulario input[type="submit"]:hover {
    background-color: #42362b;
}


body {
    font-family: 'Poppins', sans-serif;
    color: #31241E;
    background-color: #F6F4F3;
    margin: 0;
    padding: 0;
}

.container-formularios {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.titulo-formularios {
    background-color: #F6F4F3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #31241E;
}
#titulo-formularios {
    font-size: 36px;
    text-transform: uppercase;
}

#titulo-formularios a {
    text-decoration: none;
    color: #31241E;
}

#titulo-formularios a:hover {
    color: #42362b;
}

#formularios-header {
    background-color: #F6F4F3;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 3px solid #31241E;
}

#titulo-formularios {
    font-size: 36px;
    text-transform: uppercase;
    color: #31241E;
}

#volver {
    text-decoration: none;
    color: #31241E;
    padding: 10px 20px;
    border: 1px solid #31241E;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

#volver:hover {
    background-color: #31241E;
    color: #FFF;
}
.promo-select {
    margin-bottom: 20px;
}

.promo-select label {
    display: block;
    margin-bottom: 5px;
}

.promo-select select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="date"],
form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}
/* Estilos para el contenedor */
#login-register-container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


#login-title,
#register-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

#login-form,
#register-form {
    margin-bottom: 30px;
}


.label-form {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}


.input-form {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 16px;
    color: #495057;
    transition: border-color 0.3s;
}

.input-form:focus {
    outline: none;
    border-color: #007bff;
}


.btn-form {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-form:hover {
    background-color: #0056b3;
}
#agregar-producto-form {
    position: fixed;
    bottom: 20px;
    left: 20px; 
}

#agregar-producto {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 35px
}

#agregar-producto:hover {
    background-color: #0056b3;
}
#container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.btn-container {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.btn:hover {
    background-color: #555;
}

#tabla {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#tabla th,
#tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.imagen-empleado {
    max-width: 100px;
    height: auto;
}

#no-products-msg {
    text-align: center;
}

#btn-menu-principal {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

#btn-menu-principal:hover {
    background-color: #555;
}

#container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


#container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.btn-container {
    text-align: center;
}

.btn-group {
    display: flex;
}

.btn-group .btn {
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-editar {
    background-color: #4CAF50; 
    color: #fff;
}

.btn-eliminar {
    background-color: #f44336;
    color: #fff;
}

.btn-group .btn:hover {
    background-color: #555;
}

.btn-primary {
    background-color: #007bff; 
}

.btn-danger {
    background-color: #dc3545; 
}

.btn-primary:hover,
.btn-danger:hover {
    background-color: #0056b3; /
}